$main-blue: #252839;
$main-gray: #677077;
$main-white: #b5b5b7;
$main-yellow: #f2b632;

$main-round: 10px;
$main-card-up-round: 10px 10px 0px 0px;
$main-card-down-round: 0px 0px 10px 10px;
$main-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

body {
    margin: 0;
    overflow-x: hidden;
}